@inherits LayoutComponentBase

<AppThemeProvider @rendermode="InteractiveServer" />
<MudPopoverProvider @rendermode="InteractiveServer" />

<MudLayout>
    <MudAppBar>
        <TopBar />
    </MudAppBar>
    <MudDrawer Open="true">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <div class="pa-4">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

<MudAlert Severity="Severity.Error" CloseIcon="@Icons.Material.Filled.Close" id="blazor-error-ui" data-nosnippet>
    <MudStack Row>
        <MudText Typo="Typo.h6">An unhandled error has occurred.</MudText>
        <MudLink Href="." Class="reload">Reload</MudLink>
    </MudStack>
</MudAlert>
